* {
    background-image: none;
    box-shadow: none;
    font-family: Google Sans Flex;
    font-size: 20px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 2);
}

window {
    background-color: alpha(#121318, 0.5);
}

button {
    color: #ffffff;
    background-color: alpha(#ffffff, 0.20);
    border: none;
    margin: 20px;
    border-radius: 60px 60px 60px 60px ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    padding: 100px 0px 20px 0px
}

button:active, button:focus, button:hover {
    background-color: alpha(#5962ff, 0.90);
    color: #ffffff;
    border-radius: 100px 100px 100px 100px ;
    box-shadow: 0 0 25px alpha(#5962ff, 0.6);
    margin: 10px;
}

#lock {
       background-image: image(url("/home/blackspark/Dotfiles/config/wlogout/icons/lock.png"));
}

#logout {
         background-image: image(url("/home/blackspark/Dotfiles/config/wlogout/icons/logout.png"));
}

#suspend {
          background-image: image(url("/home/blackspark/Dotfiles/config/wlogout/icons/sleep.png"));
}

#hibernate {
            background-image: image(url("/home/blackspark/Dotfiles/config/wlogout/icons/hibernate.png"));
}

#shutdown {
           background-image: image(url("/home/blackspark/Dotfiles/config/wlogout/icons/power.png"));
}

#reboot {
         background-image: image(url("/home/blackspark/Dotfiles/config/wlogout/icons/restart.png"));
}
